.list__title {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-light);
  }

  .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-txt-light);
  }

  .clients__title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-txt-light);
  }

  .icon-footer__title{
    align-items:baseline ;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 20px;
    color:var(--main-txt-dark);
  }

  .portfolio__galery-title {
    border: 1px solid #eeeeee;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px; 
  }

  .description__title {
    margin-bottom: 50px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-light);
  }
  