:root{
    --logo-color:#000000;
    --main-font: "Roboto";
    --secondary-font: "Raleway";
    --accent-color: #2196F3;
    --main-txt-dark: #FFFFFF;
    --main-txt-light: #212121;
    --p-color: #757575;
    --fill-color: #AFB1B8;
    --footer-color:#2F303A;
  
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }