.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width:100% ;
    height:100% ;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    z-index: 1000;
    transition: opacity var(--animation),
     visibility var(--animation) ;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    width:528px;
    height: 581px;
    background-color: var(--main-txt-dark);
    border-radius: 4px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .modal-form__text{
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
  }
  
  .modal-form__contact-container{
    margin-bottom: 10px;
    position: relative
  }
  
  .modal-form__contact{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--p-color);
  }
  
  .modal-form__input{
    margin-top: 4px;
    width: 100%;
    height: 40px;
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-left: 42px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition:color var(--animation), border-color var(--animation);
    &:hover,
    &:focus{
      border-color: var(--accent-color);
    }
  }
  
 
  
  .modal-form__input:hover + .modal-form__icon{
    fill : var(--accent-color);
  }
  
  .modal-form__icon{
    position: absolute;
    left: 12px;
    cursor: pointer;
    bottom: 11px;
    color: var(--main-txt-light);
    transition:fill var(--animation);
     &:hover{
      color: var(--accent-color);
    }
    
  }
  
 
  .modal__comm{
    display: block;
    line-height: 23px;
  }
  
  .modal__comment-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color:var(--p-color);
  }
  
  .modal__comment{
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    resize: none;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition:  border-color var(--animation);

    &:hover,
    &:focus{
    border-color: var(--accent-color);
  }
  }
  
  
  
  .modal__form-checkbox{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  
  .modal__visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .modal__checkbox-custom{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    outline-offset: -2px;
    border-radius: 2px;
    border: 1px solid var(--main-txt-light);
    border-color: var(--main-txt-light);
    transition: outline-color var(--animation), background-color var(--animation);
    .modal__checkbox-input:checked + & {
      background-color: var(--accent-color);
      outline: 2px solid var(--accent-color);
    }
  }
  
  .modal__checkbox-icon {
    fill: var(--main-txt-dark);
  }
  
  .modal__text-agreed{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: var(--p-color)
  }
  
  .modal__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
  }