
.portfolio{
  padding-top: 60px ;
  padding-bottom: 60px;

  @media screen and (min-width: 768px){
    padding-top: 60px ;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px){
    padding-top: 94px ;
    padding-bottom: 94px;
  }
}


.portfolio__list-nav {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }
  
  .list {
    justify-content: center;
  }
  
  .portfolio__navigation:not(:last-child) {
    margin-right: 8px;
  }